<body class="main">
  <div class="row bolder textcolor">
    <div class="col-md-5 align-self-center color">
      <h1>Sign  up</h1><br/>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div><br/>
        <div class="field">
         <%= f.label :password %>
         <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
         <% end %><br />
         <%= f.password_field :password, autocomplete: "new-password" %>
        </div><br/>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div><br/>
        <div class="actions">
          <%= f.submit "Sign up",class:"btn btn-primary" %>
        </div>
      <% end %><br/>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-5 align-self-center center "> 
    <li>
      <svg class="circle" height="200" viewBox="0 0 58 58" width="200" xmlns="http://www.w3.org/2000/svg">
        <g fill-rule="evenodd" fill="none">
          <g stroke-width="0.7" stroke="rgba(255, 255, 255,0.8)" transform="translate(2 1)">
            <circle cx="42.601" cy="11.462" fill-opacity="0" fill="#BAD3FF	" r="5"></circle>
            <circle cx="49.063" cy="27.063" fill-opacity="0" fill="#8EB8FF" r="5"></circle>
            <circle cx="42.601" cy="42.663" fill-opacity="0" fill="#75A9FF	" r="5"></circle>
            <circle cx="27" cy="49.125" fill-opacity="0" fill="#2C7CFF" r="5"></circle>
            <circle cx="11.399" cy="42.663" fill-opacity="0" fill="#136FFF" r="5"></circle>
            <circle cx="4.938" cy="27.063" fill-opacity="0" fill="#005FFF" r="5"></circle>
            <circle cx="11.399" cy="11.462" fill-opacity="0" fill="#0000FF" r="5"></circle>
            <circle cx="27" cy="5" fill-opacity="0" fill="#000080" r="5"></circle>
          </g>
        </g>
      </svg>
    </li>
    <%= javascript_pack_tag 'circle' %>
    </div>
  </div>
</body>